body{
    background-image: url("images/anhnen2.jpg");
    background-size: 100%;
}
div#box
{
    width: 100px;
    height: 100px;
    background-color: #00FF00;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
}
#text{
    position: relative;
    color:rgb(226, 0, 57);
    left: 42%;
    top: 280px;
}
button#emcee
{
    position: relative;
    left: 50%;
    top: 300px;
    z-index: 2;   
}
button#Yes{
    position: relative;
    left: 50%;
    top: 300px;
}